img {
    width: 250px;
}
 .icon {
    position: relative;
}
.icon::after{
    content: "";
    position: absolute;
    background-color: white;
    height:5px;
    width: 80px;
    top:50%;
    left:25px;  
}


