.ico {
  position: relative;
}
.ico::after {
  content: "";
  position: absolute;
  background-color: black;
  height: 5px;
  width: 80px;
  top: 40%;
  left: 25px;
}

.portfolio {
  height: 100vh;
}
.iteming {
  position: relative;
}
.plus {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.plusicon {
  font-size: 500px;
}
